*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    background: url('https://images.squarespace-cdn.com/content/v1/56d3341ee707eb3dbc7550f2/1460887363805-YE0WKKEP5DS28LF0XLJU/background_2.jpg?format=2500w');
    background-position: center;
    background: url('https://images.squarespace-cdn.com/content/v1/56d3341ee707eb3dbc7550f2/1460887363805-YE0WKKEP5DS28LF0XLJU/background_2.jpg?format=2500w');
    background-repeat: no-repeat;
    background: url('https://images.squarespace-cdn.com/content/v1/56d3341ee707eb3dbc7550f2/1460887363805-YE0WKKEP5DS28LF0XLJU/background_2.jpg?format=2500w');
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.trasparente{
    background-color: #000000b6;
}

.container{
    margin: 0 auto;
    width: 97%;
    max-width: 1200px;
    overflow: hidden;
}


.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);
    padding: 40px 0;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__logo{
    font-size: 2.5rem;
    z-index: 1;
}
.Elegant img{
    display: flex;
    margin: 0 auto;
    width: 20%;
    margin-top: -10px;
    margin-bottom: -90px;
}
.nav__hamburguer, 
.nav__close{
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
    z-index: 3;
}

.nav__icon{
    width: 40px;
}

.nav__links{
    background-color: #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: .3s transform;
    z-index: 2;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

@media (min-width:768px) {
    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links{
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
    
        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link{
        font-size: 1rem;
        letter-spacing: none;
    }
}
/* nosotros */

.container1 {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 48%;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .column {
        width: 100%;
        margin: 0;
    }
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.about img {
    width: 100%;
    height: auto;
}

.about-text {
    width: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .about-text {
        width: 100%;
        margin-top: 20px;
    }
}

.about-text h1 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.about-text h5 {
    color: #D4AF37;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.about-text p h5 {
    color: #D4AF37;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}


.about-text p {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 30px;
}

button {
    width: 50%;
    background: #D4AF37;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 0;
    border-radius: 20px;
    transition: 0.4s;
}

button:hover {
    background: #fff;
    color: #D4AF37;
    border: 2px solid #D4AF37;
    cursor: pointer;
}



/* Fooder */ 
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    color: #ffffff;
    background: #000000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .contenido{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .contenido .contenedor2{
    margin-right: 30px;
    width: 30%;
}
footer .contenido h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    
}
footer .contenido h2::before{
    content: "";
    position:absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p{
    color: #999;
}
.lista3{
    display: flex;
    margin-left: -42px;
    margin-top: 10px;
}
.lista3 li{
    list-style: none;
}
.lista3 li a{
    display:inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.lista3 li a:hover{
    background: rgb(0, 0, 0);
}

.lista3 li a .fa{
    color: #fff;
    font-size: 20px;
}
.links{
    position: relative;
    width: 25%;
}
.links ul li{
    margin-left: -45px;
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display:inline-block;
}
.links ul li a:hover{
    color: #fff;
}
.contacto{
    width: calc(25% - 60px);
    margin-right: 0 !important;
}
.contacto .info{
    position: relative;
    margin-left: -45px;
}
.contacto .info li{
    display: flex;
    margin-bottom: 16px;
}
.contacto .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contacto .info li span{
    color: #999;
}
.contacto .info li a{
    color: #999;
    text-decoration: none;
}
.contacto .info li a:hover{
    color: #ffffff;
}
.copy{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
@media(max-width: 991px){
    footer{
        padding: 10px;
    }
    footer .contenido{
        flex-direction: column;
    }
    footer .contenido .contenedor2{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .contenido .contenedor2, .links, .contacto{
        width: 100%;
    }
    .copy{
        padding: 8px 40px;
    }
}